@font-face {
	font-family: TT Norms;
	src: url(../fonts/TTNorms-Light.ttf);
}
@font-face {
	font-family: Russo;
	src: url(../fonts/RussoOne-Regular.ttf);
}
.hidden {
	display: none !important;
}

html,
body {
	height: 100%;
	font-family: TT Norms;
}
video {
	width: 100%;
	cursor: pointer;
}
video[poster] {
	object-fit: cover;
}
.headliner {
	color: #ffc149;
	font-family: Russo;
	font-size: 40px;
	line-height: 55px;
	font-weight: 500;
}
a {
	text-decoration: none;
}

.mainWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
.article_text {
	font-size: 14px;
	line-height: 20px;
	color: #f9f9f9;
}
.article_title {
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	color: #f9f9f9;
	margin: 0 0 10px 0;
}
.button {
	width: 164px;
	height: 50px;
	background: #000;
	color: #f9f9f9;
	font-size: 16px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
	box-shadow: 2px 2px 0 1px #ffc149;
	cursor: pointer;
}
.red {
	background: #ba2b1a;
}
.black {
	background: #121212;
}

/*  header */
header {
	position: fixed;
	z-index: 10;
	width: 100%;
}

.wrapped {
	width: 1280px;
	margin: 0 auto;
}
.header_left {
	display: flex;
	width: 549px;
	justify-content: space-between;
}
.header_content {
	height: 164px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_menu {
	width: 329px;
	display: flex;
	justify-content: space-between;
}
.header_menu a {
	font-size: 14px;
	line-height: 20px;
	color: #f9f9f9;
}
.advantages {
	display: flex;
	width: 502px;
	justify-content: space-between;
}
.advantages div {
	color: #f9f9f9;
	font-size: 14px;
	line-height: 20px;
}
.award {
	width: 132px;
}
.garanty_return {
	width: 163px;
}
.garanty {
	width: 73px;
}
.burger {
	height: 20px;
	width: 20px;
	display: none;
}
.burger svg {
	fill: #f9f9f9;
}
/* burger (= */
.opened {
	position: fixed;
	z-index: 10;
	width: 60%;
	height: 100%;
	right: 0;
	font-size: 30px;
	background: #ba2b1a;
	color: #f9f9f9;
	padding: 40px 20px;
	overflow-y: scroll;
	display: none;
}
.header_menu_burger,
.advantages_burger {
	display: flex;
	flex-direction: column;
}
.header_menu_burger a {
	width: 100%;
	margin: 0 0 20px 0;
}
.advantages_burger div {
	width: 70%;
	margin: 0 0 20px 0;
}

.close {
	width: 20%;
	font-size: 90px;
	margin: 0 auto;
}

/*  frist block  */

.first_block_content {
	display: flex;
	/* margin: 25px 0 0 0; */
}
.first_block_title {
	width: 455px;
	height: 232px;
}
.first_block_article {
	line-height: 29px;
	width: 392px;
	height: 145px;
	/* border: 1px solid beige; */
}
.first_block_text {
	height: 427px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.first_block_flex_element {
	margin: 189px 0 192px 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.first_block_left {
	height: 580px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile_article {
	display: none;
}
.first_block_article {
	font-size: 20px;
	line-height: 29px;
	color: #f9f9f9;
}

.yellow_square {
	width: 765px;
	height: 675px;
	border: 4px solid #ffc149;
}
.man_underut_small {
	display: none;
}
.yellow_square img {
	position: relative;
	top: 20px;
	left: -20px;
}
.mobile_button {
	display: none;
	width: 346px;
	margin: 40px 0 0 0;
}

/* second block & third block*/

.second_block_title,
.third_block_title {
	width: 278px;
}
.third_block_image img {
	object-fit: cover;
}
.second_block_article,
.third_block_article {
	height: 220px;
}
.second_block_at,
.third_block_at {
	width: 170px;
	height: 46px;
}
.second_block_atext,
.third_block_atext {
	width: 315px;
}

.second_block_flex_element,
.third_block_flex_element {
	padding: 72px 0;
	display: flex;
	justify-content: space-between;
}
.sb_fl_item,
.tb_fl_item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 400px;
	height: 604px;
}
.sb_fl_item img,
.tb_fl_item img {
	width: 400px;
}
.sb_slider_wrap,
.tb_slider_wrap {
	width: 715px;
	height: 492px;
	margin: 0 auto;
	border: 4px solid #ffc149;
	overflow: hidden;
}
.sb_slider_item,
.tb_slider_item {
	width: 715px;
	height: 492px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.sb_slider_item img,
.tb_slider_item img {
	width: 377px;
	height: 492px;
	object-fit: cover;
}
.sb_slider_row,
.tb_slider_row {
	width: 2184px;
	display: flex;
	transform: translate3d(-715px, 0px, 0px);
}
.tb_slider_row {
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.second_block_slider,
.third_block_slider {
	padding: 52px 0;
	display: none;
}
.second_block_slider_title,
.third_block_slider_title {
	margin: 0 0 49px 0;
}
.sb_dots,
.tb_dots,
.thb_dots {
	width: 113px;
	margin: 44px auto 0 auto;
	display: flex;
	justify-content: space-between;
}
.sb_dots .swiper-pagination-bullet,
.tb_dots .swiper-pagination-bullet,
.thb_dots .swiper-pagination-bullet {
	background: #8d8d8d;
	height: 21px;
	width: 21px;
	border-radius: 100%;
	/* transition: all ease 0.3s; */
}
.third_block_flex_element {
	flex-direction: row-reverse;
}
.third_block_title {
	width: 100%;
	text-align: right;
}
.third_block_slider_title {
	text-align: right;
}

/* fourth block & sisth block :) */

.fourth_block_content,
.sixth_block_content {
	padding: 113px 0 0 0;
}
.fourth_block_flex_element,
.sixth_block_flex_element {
	display: flex;
	justify-content: space-between;
}
.sixth_block_flex_element {
	flex-direction: row-reverse;
}
.fourth_block_rightside,
.sixth_block_rightside {
	width: 437px;
}
.frb_title,
.sxb_title {
	margin: 0 0 65px 0;
	width: 300px;
}
.numbered_list {
	margin: 0 0 65px 0;
	display: flex;
	justify-content: space-between;
}
.num {
	height: 50px;
	width: 60px;
	background: #ffc149;
	font-family: Russo;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
}
.frb_article,
.sxb_article {
	width: 358px;
	position: relative;
	top: 15px;
}
.sxb_article {
	width: 329px;
}
.forsb {
	width: 417px;
}
.frb_yellow_square,
.sxb_yellow_square {
	width: 771px;
	height: 870px;
	border: 4px solid #ffc149;
	position: relative;
	left: 20px;
}
.frb_yellow_square img,
.sxb_yellow_square img {
	position: relative;
	top: 28px;
	left: -23.5px;
}
.frb_top_title,
.sxb_top_title {
	display: none;
}
.frb_image_small,
.sxb_image_small {
	display: none;
}

/* fifth & seventh block D: */

.fthb_med,
.svb_med {
	display: none;
}
.fthb_samll,
.svb_samll {
	display: none;
}
.fifth_block_content,
.seventh_block_content {
	padding: 52px 0 113px 0;
	display: flex;
	justify-content: space-between;
}
/* eigth block 0_o */

.eigth_block_content {
	padding: 96px 0 0 0;
}
.eb_designer_title_top {
	display: none;
}
.eb_flex_element {
	display: flex;
	justify-content: space-between;
}
.eb_video {
	width: 842px;
	height: 522px;
	position: relative;
}
.video_idea {
	width: 100%;
	height: 100%;
}
.video_play {
	width: 100px;
	height: 100px;
	background: url(../img/playb.png) center no-repeat;
	position: absolute;
	background-size: cover;
	transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
}
.eb_designer {
	width: 396px;
	display: flex;
	flex-direction: column;
}
.eb_designer_title {
	margin: 0 0 60px 0;
}
.eb_small {
	display: none;
}
.eb_a {
	margin: 30px 0 0 0;
}

.eb_atext {
	margin: 15px 0 15px 0;
}
.eb_small_t {
	display: none;
	margin: 0 0 16px 0;
}
/* ningth block */

.ningth_block_content {
	padding: 75px 0;
}

.nb_flex_element {
	display: flex;
	justify-content: space-between;
}

.nb_title {
	margin: 0 0 30px 0;
}

.nb_small_image,
.nb_med_image {
	display: none;
}
.nb_article {
	width: 267px;
}
.nb_atext {
	margin: 15px 0;
}

.thb_slider {
	width: 1277px;
	height: 589px;
	overflow: hidden;
	margin: 0 auto;
}
.tenth_block_content {
	padding: 75px 0 0 0;
}
.thb_title {
	width: 544px;
	margin: 0 0 50px 0;
}
.thb_nav_prev {
	position: relative;
	top: -380px;
	left: 20px;
	z-index: 1;
	transform: rotate(180deg);
	height: 50px;
	width: 50px;
}
.thb_nav_fow {
	position: relative;
	top: -430px;
	left: 1210px;
	z-index: 1;
	height: 50px;
	width: 50px;
}
/* eleventh block */
.mob {
	display: none;
}
.parameters {
	height: 0px;
	font-size: 0px;
	transition: all ease 0.3s;
	width: 270px;
	background: #ba2b1a;
	position: absolute;
	top: 30px;
	left: -150px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
}
.parameters_active {
	transition: all ease 0.3s;
	height: 200px;
	border: 1px solid #000;
	font-size: 20px;
	padding: 10px;
}
.arrow_elb img {
	transition: all ease 0.3s;
}
.eleventh_block_content {
	padding: 0 0 245px 0;
}

.elb_flex_element {
	display: flex;
	justify-content: space-between;
}
.elb_slider {
	width: 620px;
	height: 580px;
	overflow: hidden;
}
.elb_slide {
	background: #ffc149;
}
.elb_slide img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.elb_pagination {
	height: 430px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
}
.elb_pwrap {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.elb_pagination .swiper-pagination-bullet,
.elb_pag_count {
	height: 127px;
	width: 180px;
	background-color: #f8ff95;
	border-radius: 0;
	opacity: 0.7;
	background-size: cover;
}
.elb_pag_count {
	font-family: Russo;
	font-size: 60px;
	text-align: center;
	line-height: 127px;
}
.elb_pagination .swiper-pagination-bullet-active {
	background-color: #ffc149;
	opacity: 1;
}
.elb_menu {
	width: 400px;
	height: 580px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #f9f9f9;
}

.elb_params {
	display: flex;
	justify-content: space-between;
}

.par {
	position: relative;
}

.elb_colors {
	display: flex;
	justify-content: space-between;
}
.elb_colors div {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	cursor: pointer;
}
.black_bubble {
	box-shadow: 0px 0px 30px 6px #5c5c5b inset;
	background: #ffc149;
	color: #5c5c5b;
}
.grey_bubble {
	box-shadow: 0px 0px 30px 6px #b0b6c1 inset;
	background: #ffc149;
	color: #b0b6c1;
}
.red_bubble {
	box-shadow: 0px 0px 30px 6px #ff5e59 inset;
	background: #ffc149;
	color: #ff5e59;
}
.blue_bubble {
	box-shadow: 0px 0px 30px 6px #7aa6ff inset;
	background: #ffc149;
	color: #7aa6ff;
}
.green_bubble {
	box-shadow: 0px 0px 30px 6px #93d1a8 inset;
	background: #ffc149;
	color: #93d1a8;
}
.lightblue_bubble {
	box-shadow: 0px 0px 30px 6px #add8e6 inset;
	background: #ffc149;
	color: #add8e6;
}
.active_bubble {
	box-shadow: 0px 0px 1px 6px inset;
}

.size {
	margin: 0 0 20px;
}
.choose_size {
	display: flex;
	justify-content: space-between;
}
.choose_size div {
	width: 120px;
	height: 52px;
	border: 4px solid #ffc149;
	font-size: 20px;
	text-align: center;
	line-height: 52px;
	cursor: pointer;
}

.pricenorder {
	display: flex;
	justify-content: space-between;
}
.price {
	font-size: 40px;
	font-family: Russo;
}

.act_var {
	border: 4px solid #000 !important;
}
/* footer >_< */
.footer_content {
	padding: 55px 0 6px 0;
	font-size: 16px;
	display: flex;
	flex-direction: column;
}

.footer_topRow {
	display: flex;
	justify-content: space-between;
	color: #f9f9f9;
	margin: 0 0 30px 0;
}
.copyright {
	line-height: 50px;
}
.callback {
	background: #ba2b1a;
	width: 190px;
}

.footer_bottom {
	display: flex;
	justify-content: space-between;
}
.payment {
	display: flex;
	justify-content: space-between;
	color: #f9f9f9;
	line-height: 50px;
	width: 404px;
}

.footer_links {
	display: flex;
	justify-content: space-between;
	color: #ffc149;
	width: 763px;
	line-height: 50px;
	flex-wrap: wrap;
}
.footer_links a {
	color: #ffc149;
}
.smallsize {
	display: none;
}
/*  resize */

@media (max-width: 1293px) {
	.wrapped {
		width: 1000px;
	}
	.man_underut_small {
		display: block;
	}
	.man_underut {
		display: none;
	}
	.yellow_square {
		width: 359px;
		height: 531px;
	}
	.header_menu,
	.advantages {
		display: none;
	}
	.burger {
		display: block;
	}
	.second_block_flex_element,
	.third_block_flex_element {
		display: none;
	}
	.second_block_slider,
	.third_block_slider {
		display: block;
	}
	.third_block_article,
	.second_block_article {
		padding: 45px 10px;
	}

	/* frb */
	.frb_top_title,
	.sxb_top_title {
		display: block;
		margin: 0 0 90px 0;
	}
	.frb_image,
	.sxb_image {
		display: none;
	}
	.frb_image_small,
	.sxb_image_small {
		display: block;
	}
	.frb_yellow_square,
	.sxb_yellow_square {
		width: 308px;
		height: 632px;
	}
	/* fthb */
	.fthb_big,
	.svb_big {
		display: none;
	}
	.fthb_med,
	.svb_med {
		display: block;
	}
	.fifth_block_content,
	.seventh_block_content {
		justify-content: center;
	}
	/* eb */
	.eb_big,
	.eb_designer_title {
		display: none;
	}
	.eb_small,
	.eb_designer_title_top {
		display: block;
	}
	.eb_designer_title_top {
		margin: 0 0 45px 0;
	}
	.eb_flex_element {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 1100px;
	}
	.eb_designer {
		flex-direction: row;
		width: 842px;
		margin: 0 auto;
		justify-content: space-between;
	}
	.eb_article {
		width: 300px;
	}
	.eb_video {
		margin: 0 auto;
	}
	/* .video_idea[poster] {
		width: 100%;
		height: 100%;
	} */
	/* nb */
	.nb_big_image,
	.nb_small_image {
		display: none;
	}
	.nb_med_image {
		display: block;
	}
	/* thb */
	.thb_slider {
		width: 728px;
		height: 366px;
		margin: 0 auto;
	}
	.thb_title {
		width: 420px;
	}
	.thb_nav_prev {
		top: -280px;
		left: 150px;
		height: 50px;
		width: 50px;
	}
	.thb_nav_fow {
		position: relative;
		top: -330px;
		left: 800px;
		z-index: 1;
		height: 50px;
		width: 50px;
	}
	/* elb */
	.elb_slider {
		width: 100%;
		order: 1;
	}
	.elb_flex_element {
		flex-direction: column;
		/* align-items: center; */
	}
	.elb_pwrap {
		order: 2;
		flex-direction: row;
		height: 180px;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 10px 0;
	}
	.eleventh_block_content {
		padding: 0 0 70px 0;
	}
	.mob {
		display: block;
		margin: 0 0 30px auto;
	}
	.des {
		display: none;
	}
	.elb_pagination {
		flex-direction: row;
		height: 180px;
		align-items: center;
		width: 700px;
	}
	.elb_menu {
		order: 3;
		align-self: center;
		height: 470px;
	}
	/* footer */
	.footer_links {
		width: 420px;
	}
}
@media (max-width: 1000px) {
	.wrapped {
		width: 728px;
	}
	.headliner {
		font-size: 30px;
		line-height: 44px;
	}
	.first_block_title {
		width: 341px;
		height: 164px;
	}
	.first_block_article {
		font-size: 16px;
		width: 315px;
		line-height: 23px;
		color: #f9f9f9;
	}
	.first_block_text {
		height: 291;
	}
	.yellow_square img {
		top: 15px;
		left: -10px;
	}
	.first_block_left {
		height: 392px;
	}
	.first_block_flex_element {
		margin-bottom: 52px;
	}
	/* frb */
	.frourth_block_leftside {
		display: none;
	}
	.fourth_block_flex_element,
	.sixth_block_flex_element {
		justify-content: center;
	}
	.frb_top_title,
	.sxb_top_title {
		display: none;
	}
	/* fthb */
	.fthb_med,
	.svb_med {
		display: none;
	}
	.fthb_samll,
	.svb_small {
		display: block;
	}
	/* eb */
	.eb_video {
		width: 728px;
		height: 392px;
	}
	.eb_flex_element {
		height: 1000px;
	}
	.eb_designer {
		width: 100%;
	}
	/* thb */
	.thb_slider {
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.thb_title {
		width: 300px;
	}

	.thb_nav_prev {
		top: -300px;
		left: 20px;
		height: 50px;
		width: 50px;
	}
	.thb_nav_fow {
		top: -350px;
		left: 660px;
		height: 50px;
		width: 50px;
	}
	/* elb */
	.elb_flex_element {
		flex-direction: column;
	}
	.elb_pagination {
		width: 545.5px;
	}
	.elb_menu {
		height: 400px;
	}
	.elb_menu,
	.elb_slider {
		margin: 0 auto;
	}
	/* footer */
	.footer_content {
		flex-direction: column-reverse;
	}
	.footer_bottom {
		flex-direction: column-reverse;
	}
	.footer_topRow {
		flex-direction: column;
	}
	.footer_links {
		width: 100%;
	}
	.callback {
		width: 100%;
	}
}
@media (max-width: 730px) {
	/* global) */
	.video_play {
		height: 30px;
		width: 30px;
	}
	.wrapped {
		width: 350px;
	}
	.yellow_square {
		width: 348px;
		height: 522px;
	}
	.yellow_square img {
		top: 11px;
		left: -28px;
	}
	.first_block_flex_element {
		flex-direction: column;
		height: 991px;
		margin-bottom: 58px;
	}
	.mobile_article {
		display: block;
		margin: 10px 0 0 0;
	}
	.mobile_article p {
		font-size: 16px;
		line-height: 23px;
		color: #f9f9f9;
		text-align: center;
		margin: 15px auto 0 auto;
		width: 283px;
	}
	.mobile_article p:last-child {
		width: 151px;
	}
	.first_block_text {
		height: 164px;
		text-align: center;
	}
	.first_block_article,
	.first_block_button {
		display: none;
	}
	.mobile_button {
		display: block;
	}
	.sb_slider_wrap,
	.tb_slider_wrap {
		border: none;
		width: 357px;
		height: 573px;
	}

	.sb_slider_item,
	.tb_slider_item {
		width: 357px;
		flex-direction: column;
		height: 573px;
	}
	.second_block_slider_title,
	.third_block_slider_title {
		display: none;
		width: 357px;
	}
	.third_block_article,
	.second_block_article {
		padding: 0;
	}
	.third_block_slider,
	.second_block_slider {
		width: 357px;
	}
	.sb_slider_item img,
	.tb_slider_item img {
		height: 305px;
		width: 357px;
	}
	.second_block_image {
		width: 357px;
	}
	/* frb */
	.frb_article,
	.sxb_article {
		width: 265px;
	}
	/* eb */
	.eb_video {
		width: 353px;
		height: 190px;
	}
	.eb_designer {
		flex-direction: column;
	}
	.eb_small_t {
		display: block;
	}
	.eb_big_t {
		display: none;
	}
	/* nb */

	/* thb */
	.thb_nav_prev {
		top: -185px;
		left: 20px;
		height: 30px;
		width: 30px;
	}
	.thb_nav_fow {
		top: -215px;
		left: 300px;
		height: 30px;
		width: 30px;
	}
	.thb_nav_fow img,
	.thb_nav_prev img {
		height: 30px;
		width: 30px;
	}
	.nb_big_image,
	.nb_med_image {
		display: none;
	}
	.nb_small_image {
		display: block;
	}
	/* elb */
	.elb_slider,
	.elb_menu {
		width: 100%;
	}
	.elb_slider {
		height: 330px;
	}
	.elb_pwrap {
		width: 100%;
	}
	.elb_pagination {
		width: 260px;
	}
	.elb_pag_count {
		line-height: 73px;
		font-size: 37px;
	}
	.parameters {
		left: -150px;
		align-items: flex-end;
	}
	.choose_size div {
		width: 108px;
		border: 2px solid #ffc149;
	}
	.elb_pagination .swiper-pagination-bullet,
	.elb_pag_count {
		height: 73px;
		width: 80px;
	}
	.act_var {
		border: 2px solid #000 !important;
	}

	/* footer */
	.bsize {
		display: none;
	}
	.smallsize {
		display: block;
	}
	.smallsize img {
		height: 17px;
	}
	.payment {
		width: 250px;
	}

	@media (max-width: 400px) {
		/* sxb */
		.sxb_article {
			width: 200px;
		}
		.forsb {
			width: 300px;
		}
	}
	@media (max-width: 380px) {
		.elb_slider,
		.elb_menu {
			width: 100%;
		}
	}
}
.sb_dots .swiper-pagination-bullet-active {
	transition: all ease 0.3s;
	width: 17px;
	height: 17px;
	background: #ffc149;
	border: 2px solid #ffc149;
	box-shadow: 0 0 1px 3px inset #000;
}
.tb_dots .swiper-pagination-bullet-active,
.thb_dots .swiper-pagination-bullet-active {
	transition: all ease 0.3s;
	width: 17px;
	height: 17px;
	background: #ffc149;
	border: 2px solid #ffc149;
	box-shadow: 0 0 1px 3px inset #ba2b1a;
}
.showed {
	display: block;
}
